.vs/backend/v17/.suo
.vs/backend/DesignTimeBuild/.dtbcache.v2
.vs/backend/v17/.futdcache.v2
.vs/ProjectEvaluation/backend.projects.v6.1
.vs/backend/FileContentIndex/4666d2ba-338a-4ee0-80dd-f340775e68ab.vsidx
*.vsidx
