.vs/backend/v17/.suo
.vs/backend/DesignTimeBuild/.dtbcache.v2
.vs/backend/v17/.futdcache.v2
.vs/ProjectEvaluation/backend.projects.v6.1
/backend/obj/Debug/net6.0/backend.pdb
/backend/bin/Debug/net6.0/backend.dll
*.dll
*.vsidx
*.exe
*.pdb
*.cache
*.dll
