USE [master]
GO
/****** Object:  Database [facebook-clone]    Script Date: 12/19/2023 12:15:25 PM ******/
CREATE DATABASE [facebook-clone]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'facebook-clone', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\facebook-clone.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'facebook-clone_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\facebook-clone_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [facebook-clone].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [facebook-clone]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/19/2023 12:15:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 12/19/2023 12:15:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[TimeStamp] [datetime2](7) NOT NULL,
	[PostId] [int] NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Friendships]    Script Date: 12/19/2023 12:15:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Friendships](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProfileId] [int] NOT NULL,
	[FriendId] [int] NOT NULL,
	[Status] [nvarchar](max) NULL,
	[isFriend] [bit] NOT NULL,
 CONSTRAINT [PK_Friendships] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Likes]    Script Date: 12/19/2023 12:15:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Likes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TimeStamp] [datetime2](7) NOT NULL,
	[PostId] [int] NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK_Likes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 12/19/2023 12:15:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MediaFileName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[TimeStamp] [datetime2](7) NOT NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK_Posts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/19/2023 12:15:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[Surname] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](450) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
	[DayOfJoyning] [datetime2](7) NOT NULL,
	[Gender] [nvarchar](max) NOT NULL,
	[ProfilePicName] [nvarchar](max) NULL,
	[BannerFileName] [nvarchar](max) NULL,
	[Bio] [varchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20231107215129_Innitial-Commit', N'7.0.12')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20231107215332_commit', N'7.0.12')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20231107215602_Innitial-Commit', N'7.0.12')
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([Id], [Content], [TimeStamp], [PostId], [UserId]) VALUES (1, N'Illo nisi sed eum.', CAST(N'2023-04-18T00:00:00.0000000' AS DateTime2), 75, 10)
INSERT [dbo].[Comments] ([Id], [Content], [TimeStamp], [PostId], [UserId]) VALUES (2, N'Voluptatem porro consequatur commodi reiciendis ut voluptas velit qui quae.', CAST(N'2022-12-13T00:00:00.0000000' AS DateTime2), 445, 63)
INSERT [dbo].[Comments] ([Id], [Content], [TimeStamp], [PostId], [UserId]) VALUES (3, N'Possimus eos nam aperiam et iste sit et vitae consectetur.', CAST(N'2023-05-16T00:00:00.0000000' AS DateTime2), 483, 31)
GO
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[Friendships] ON 

INSERT [dbo].[Friendships] ([Id], [ProfileId], [FriendId], [Status], [isFriend]) VALUES (1, 15, 6, N'Accepted', 1)
INSERT [dbo].[Friendships] ([Id], [ProfileId], [FriendId], [Status], [isFriend]) VALUES (2, 21, 84, N'Pending', 0)
INSERT [dbo].[Friendships] ([Id], [ProfileId], [FriendId], [Status], [isFriend]) VALUES (3, 16, 95, N'Accepted', 1)
GO
SET IDENTITY_INSERT [dbo].[Friendships] OFF
GO
SET IDENTITY_INSERT [dbo].[Likes] ON 

INSERT [dbo].[Likes] ([Id], [TimeStamp], [PostId], [UserId]) VALUES (1, CAST(N'2023-09-29T00:00:00.0000000' AS DateTime2), 27, 35)
INSERT [dbo].[Likes] ([Id], [TimeStamp], [PostId], [UserId]) VALUES (2, CAST(N'2023-09-08T00:00:00.0000000' AS DateTime2), 416, 61)
INSERT [dbo].[Likes] ([Id], [TimeStamp], [PostId], [UserId]) VALUES (3, CAST(N'2023-10-19T00:00:00.0000000' AS DateTime2), 75, 95)
GO
SET IDENTITY_INSERT [dbo].[Likes] OFF
GO
SET IDENTITY_INSERT [dbo].[Posts] ON 

INSERT [dbo].[Posts] ([Id], [MediaFileName], [Description], [TimeStamp], [UserId]) VALUES (1, N'292c5944-0935-4b4c-9658-26ce0993df39.jpeg', N'Nisi sed eum.', CAST(N'2023-04-18T00:00:00.0000000' AS DateTime2), 10)
INSERT [dbo].[Posts] ([Id], [MediaFileName], [Description], [TimeStamp], [UserId]) VALUES (2, N'2dd293a9-eada-49a7-a79f-286512ddd8a0.jpeg', N'Voluptatem porro consequatur commodi reiciendis ut voluptas velit qui quae.', CAST(N'2022-12-13T00:00:00.0000000' AS DateTime2), 63)
INSERT [dbo].[Posts] ([Id], [MediaFileName], [Description], [TimeStamp], [UserId]) VALUES (3, N'e8dd657a-7d8a-41b8-9819-56a18f26d74c.jpeg', N'Possimus eos nam aperiam et iste sit et vitae consectetur.', CAST(N'2023-05-16T00:00:00.0000000' AS DateTime2), 31)
GO
SET IDENTITY_INSERT [dbo].[Posts] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FirstName], [Surname], [Email], [Password], [DateOfBirth], [DayOfJoyning], [Gender], [ProfilePicName], [BannerFileName], [Bio]) VALUES (1, N'Burdette', N'Becker', N'Connor.Simonis@yahoo.com', N'$2a$11$MLeJwBXtKW4LVv.VvrhUaexooqObJ5m056tssV5G0EYJZ3tFmxkpG', CAST(N'2023-03-18T00:00:00.0000000' AS DateTime2), CAST(N'2023-03-18T00:00:00.0000000' AS DateTime2), N'Prefer not to say', N'95a092fb-cf04-4500-acc4-c48f45bf8c70.jpeg', N'613e1788-9b00-4019-8b16-01940c0788e7.jpeg', N'Art and design enthusiast')
INSERT [dbo].[Users] ([Id], [FirstName], [Surname], [Email], [Password], [DateOfBirth], [DayOfJoyning], [Gender], [ProfilePicName], [BannerFileName], [Bio]) VALUES (2, N'Deangelo', N'Boehm', N'Josh_Gulgowski61@gmail.com', N'$2a$11$yJ19HDmX.EP09uTKaHDoeewER.IoG2m4BWErXF3kG8guCQqfDD2hK', CAST(N'2023-09-01T00:00:00.0000000' AS DateTime2), CAST(N'2023-09-01T00:00:00.0000000' AS DateTime2), N'Prefer not to say', N'0efb6567-b807-4f21-9dd0-414ec34c9f84.jpeg', N'50180cdd-cdf4-44b6-a3b7-e6a21b130a65.jpeg', N'Fashion influencer ')
INSERT [dbo].[Users] ([Id], [FirstName], [Surname], [Email], [Password], [DateOfBirth], [DayOfJoyning], [Gender], [ProfilePicName], [BannerFileName], [Bio]) VALUES (3, N'Deron', N'Block', N'Evans.Cummerata@yahoo.com', N'$2a$11$TzSsJ.DkkD2MgzbOo.80B.1lFPB4M.LSg1VXk0.13E.s5/LqCsXaq', CAST(N'2023-09-14T00:00:00.0000000' AS DateTime2), CAST(N'2023-09-14T00:00:00.0000000' AS DateTime2), N'Male', N'7747bd1d-eb4c-4e3b-9a39-95323bd4adf5.jpeg', N'fcef5e1e-028c-4cb7-99e0-372068409368.jpeg', N'Gamer for life ')
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_Comments_PostId]    Script Date: 12/19/2023 12:15:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Comments_PostId] ON [dbo].[Comments]
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comments_UserId]    Script Date: 12/19/2023 12:15:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Comments_UserId] ON [dbo].[Comments]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Friendships_FriendId]    Script Date: 12/19/2023 12:15:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Friendships_FriendId] ON [dbo].[Friendships]
(
	[FriendId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Friendships_ProfileId]    Script Date: 12/19/2023 12:15:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Friendships_ProfileId] ON [dbo].[Friendships]
(
	[ProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Likes_PostId]    Script Date: 12/19/2023 12:15:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Likes_PostId] ON [dbo].[Likes]
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Likes_UserId]    Script Date: 12/19/2023 12:15:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Likes_UserId] ON [dbo].[Likes]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Posts_UserId]    Script Date: 12/19/2023 12:15:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Posts_UserId] ON [dbo].[Posts]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 12/19/2023 12:15:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Posts_PostId] FOREIGN KEY([PostId])
REFERENCES [dbo].[Posts] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Posts_PostId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Users_UserId]
GO
ALTER TABLE [dbo].[Friendships]  WITH CHECK ADD  CONSTRAINT [FK_Friendships_Users_FriendId] FOREIGN KEY([FriendId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Friendships] CHECK CONSTRAINT [FK_Friendships_Users_FriendId]
GO
ALTER TABLE [dbo].[Friendships]  WITH CHECK ADD  CONSTRAINT [FK_Friendships_Users_ProfileId] FOREIGN KEY([ProfileId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Friendships] CHECK CONSTRAINT [FK_Friendships_Users_ProfileId]
GO
ALTER TABLE [dbo].[Likes]  WITH CHECK ADD  CONSTRAINT [FK_Likes_Posts_PostId] FOREIGN KEY([PostId])
REFERENCES [dbo].[Posts] ([Id])
GO
ALTER TABLE [dbo].[Likes] CHECK CONSTRAINT [FK_Likes_Posts_PostId]
GO
ALTER TABLE [dbo].[Likes]  WITH CHECK ADD  CONSTRAINT [FK_Likes_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Likes] CHECK CONSTRAINT [FK_Likes_Users_UserId]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_Posts_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_Posts_Users_UserId]
GO
USE [master]
GO
