@import '../../utils/variables';
@import '../../utils/mixins';

.frame {
    align-items: center;
    background: linear-gradient(180deg, rgb(33, 33, 33) 0%, rgb(255, 255, 255) 86.06%);
    box-shadow: var(--facebook-drop-shadow-001);
    display: flex;
    flex-direction: column;
    left: 0;
    position: relative;
    width: 100%;
}

.cover-picture-wrapper {
    background-color: #a2a3a2;
    border-radius: 0px 0px 6px 6px;
    overflow: hidden;
    position: relative;
    width: 1057.5px;
}


.frame-3 {
    display: flex;
    flex-direction: row;
    border-bottom-style: solid;
    align-self: flex-start;
    border-bottom-width: 0.8px;
    border-color: #cdced2;
    height: 10rem;
    position: relative;
    align-self: center;
    width: 65%;
}


.ProfileName {

    justify-content: center;
    padding-top: 1rem;
    color: #050505;
    font-family: "Inter-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    width: fit-content;
}

.FriendsNumber {
    color: #66676b;
    font-family: "Inter-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.Bio {
    font-family: "Inter-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.BioWrapper{
    color: $black; 
    font-family: "Inter-Medium", Helvetica;
    margin-top: 1rem;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}


.frame-15 {
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 11px;
    box-shadow: var(--facebook-drop-shadow-001);
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 20px;
    padding: 16px 18px 20px;
    position: relative;
    left: 20rem;
    width: 50%;
    /* Set the width to occupy half the page */
    grid-column: span 1;
}


.button {
    background-color: #e5e6eb !important;
    color: $black !important;
    align-self: bottom;
    margin-top: .2rem !important;
    margin-bottom: .2rem !important;
    align-self: center;
    width: 100%;
    transition: linear 200ms;

    &:hover {
        background-color: $sign-up-light;
        transform: translatey(-2px);
    }
}

.edit_profile {
    background-color: #e5e6eb !important;
    color: $black !important;
    margin-top: .2rem !important;
    margin-bottom: .2rem !important;
    align-self: center;
    transition: linear 200ms;
    width: 15% !important;
    left: 30rem;



    &:hover {
        background-color: $sign-up-light;
        transform: translatey(-2px);
    }
}

.unfriend{
    background-color: $primary !important;
    color: $white !important;
    position: relative;
    margin-left: 1rem !important;
    align-self: bottom;
    margin-top: .2rem !important;
    margin-bottom: .2rem !important;
    align-self: center;
    width: 15% !important;
    transition: linear 200ms;
    left: 30rem;

    &:hover {
        background-color: $sign-up-light;
        transform: translatey(-2px);
    }
}

.Intro {
    color: #050505;
    flex: 1;
    font-family: "Segoe UI-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.44px;
    line-height: normal;
    margin-top: -1px;
    position: relative;
}

.SeeMore {
    color: #3c67cd;
    font-family: "Segoe UI-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.36px;
    line-height: normal;
    position: relative;
    text-align: right;
    width: fit-content;
}


.placeholderImage {
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(115.46, 115.46, 115.46) 100%);
    height: 120px;
    position: relative;
    width: 120px;
}

.facebook-profile-wrapper {
    background-color: #8a8079;
    border-radius: 9px;
    height: 115px;
    overflow: hidden;
    position: relative;
    width: 115px;
}

.facebook-profile-picture {
    background-image: url(./change-me-9.png) !important;
    height: 116px !important;
    position: unset !important;
    width: 116px !important;
}

.UserName {
    color: #050505;
    font-family: "Segoe UI-Semibold", Helvetica;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: normal;
    position: relative;
    width: fit-content;
}

.Posts {
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 11px;
    box-shadow: var(--facebook-drop-shadow-001);
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 20px;
    padding: 16px 18px 20px;
    position: relative;
    top: 3rem !important;
    grid-column: span 1;
    width: 75%;

    .card {
        align-items: flex-start;
        background-color: #ffffff;
        border-radius: 11px;
        box-shadow: var(--facebook-drop-shadow-001);
        display: inline-flex;
        flex-direction: column;
        width: 100%;
    }
}

.frame-33 {
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 11px;
    box-shadow: var(--facebook-drop-shadow-001);
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 20px;
    padding: 16px 18px 20px;
    position: relative;
    /* Positioned absolutely within the same parent */
    top: 15rem !important;
    /* Assuming the .frame div ends at 3.5rem from the top and .cover-picture-wrapper is the next element */
    width: 100%;
    grid-column: span 1;
}



.frame-31 {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    padding: 13px 18px 16px;
    position: relative;
    width: 564px;
}

.frame-32 {
    align-items: center;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 4px;
    justify-content: center;
    position: relative;
}

.rectangle-3 {
    background-color: #d9d9d9;
    height: 36px;
    opacity: 0.4;
    position: relative;
    width: 36px;
}

.text-wrapper-14 {
    color: #66676b;
    font-family: "Segoe UI-Semibold", Helvetica;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.36px;
    line-height: normal;
    position: relative;
    width: fit-content;
}


.text-wrapper-15 {
    color: #050505;
    font-family: "Segoe UI-Bold", Helvetica;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.44px;
    line-height: normal;
    position: relative;
    width: fit-content;
    box-shadow: 0px 5px 7px -7px $box-shadow !important;
}

.frame-34 {
    align-items: center;
    background-color: #e5e6eb;
    border-radius: 6px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 4px;
    padding: 8px 12px 8px 8px;
    position: relative;
}

.text-wrapper-16 {
    color: #050505;
    font-family: "Segoe UI-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
    line-height: normal;
    position: relative;
    width: fit-content;
}


.facebook-image-post-5-4-wrapper {
    background-color: #884444;
    height: 451.2px;
    position: relative;
    width: 564px;
}

.facebook-image-post-5-4-instance {
    background-image: url(./change-me-11.png) !important;
    height: 451px !important;
    position: unset !important;
    width: unset !important;
}


    .profileAvatar1 {
        display: flex;
        top: 1.3rem;
        left: -2rem;
        margin-top: -10%;
        position: relative;
        height: 12rem !important;
        width: 12rem !important;
        border: .3rem solid $white;
    }

    .upload-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none; // Hide the text by default
        font-size: 32px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white; // Set text color
        pointer-events: none; // Ignore pointer events on the text
    }

.coverPicture-wrapper {
    position: relative;
    display: flex;


    &:hover .CoverPicture {
        filter: grayscale(100%) blur(2px); // This applies the grayscale filter
    }

    &:hover .upload-text {
        display: block; // This shows the text on hover
    }

    .upload-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none; // Hide the text by default
        font-size: 90px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white; // Set text color
        pointer-events: none; // Ignore pointer events on the text
    }
}


.searchInput1 {
    margin: 0.4rem;
    display: flex;
    background-color: $comment-background;
    padding: .2rem;
    border-radius: 1rem;
    justify-content: left;
    align-items: center;
    width: 100% !important;

    @include for-xl-devices {
        flex: 0.7;
    }

    @include for-large-devices {
        flex: 0.4;
    }

    @include for-small-screens {
        display: none;
    }

    .searchIcon1 {
        color: $comment-text;
        margin-left: 0.5rem;

        @include for-large-devices {
            display: none;
        }
    }

    .inputBar1 {
        background-color: transparent;
        border: none;
        font-size: large;
        outline: none;
        padding: 0.4rem;
        color: $comment-text;

        @include for-large-devices {
            text-align: center;
        }
    }
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* split into two columns */
    grid-template-rows: auto auto;
    /* two rows */
    width: 100%;
    padding-top: 3rem;
}

.createPost_wrapper1 {
    width: 50%;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}